:root {
    --color_one : #1b181a;
    --color_two : #F5F3F4;
    --color_three : #A4161A;
    --color_for : #E5383B;
}

.Card {
    display : flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    width : 95%;
    height: 30%;
    margin : 15px;

    background-color: var(--color_two);
}

.InpRadio {
    display: none;
}

.InpRadio:checked + .CheckboxWrapper label{
    background-color: var(--color_for);
    position : relative;
    bottom: 25px;
}

.Buttons {
    display: flex;
    position: relative;
    bottom : 20px;
}

.Btn {
    color : var(--color_two);
    background-color: var(--color_three);
    border-radius: 50%;

    cursor: pointer;
    padding : 10px 15px;
    margin : 5px;
    margin-bottom : 25px;
}

.Title {
    margin: 1.8rem;
    font-size: 1.7rem;
}



/* ------------------------------------------------ */
